/* pages/my/my.wxss */
.container {
  padding: 0;

  .my-background {
    position: fixed;
    width: 100%;
    height: 421.875rpx;
  }

  .my-card {
    position: relative;
    top: 371.875rpx;
    background-color: rgb(250,250,250);
    width: 100%;
    height: 1316.125rpx;
    filter: drop-shadow(0px 0px 60rpx rgba(0, 0, 0, 0.18));
    box-sizing: border-box;
    border-radius: 36rpx 36rpx 0 0;
    padding: 0 50rpx;


    .my-card-header {
      width: 100%;

      .my-card-header__avatar {
        border: 6rpx solid #fff;
        border-radius: 50%;
      }

      .my-card-header__nickname {
        position: absolute;
        font-weight: 800;
        font-size: 40rpx;
        margin-left: 20rpx;
      }

      .my-card-header__introduction {
        display: inline-block;
        position: relative;
        font-size: 28rpx;
        margin-left: 20rpx;
        top: 130rpx;
        color: #333;
        width: 300rpx;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &.scheme-1 {
        margin-bottom: -80rpx;
        transform: translateY(-60%);

        .my-card-header__nickname {
          line-height: 160rpx;
          color: #fff;
          text-shadow: 4rpx 4rpx 10rpx #666;
        }
      }

      &.scheme-2 {
        margin-bottom: -40rpx;

        .my-card-header__avatar {
          transform: translateY(-40%);
        }

        .my-card-header__nickname {
          line-height: 88rpx;
        }
      }
    }

    .my-card-body {
      position: relative;

      .t-cell-group {
        margin: 0;
        border-radius: 36rpx;
        border: 2rpx solid #eee;
      }
    }
  }
}